infrastructure/terraform/components/reporting/templates/ingestion.json.tmpl
{
  "Comment": "Workflow to run ingestion queries to populate reporting tables from the underlying transaction_history table in the core account.",
  "StartAt": "First Pass",
  "States": {
    "First Pass": {
      "Type": "Parallel",
      "Branches": ${jsonencode(concat([
        for query_id in query_ids_1:
        {
          "StartAt": "Get Query ${query_id}",
          "States": {
            "Get Query ${query_id}": {
              "Type": "Task",
              "Parameters": {
                "NamedQueryId": "${query_id}"
              },
              "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
              "Next": "Execute Query ${query_id}"
            },
            "Execute Query ${query_id}": {
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString.$": "$.NamedQuery.QueryString",
                "WorkGroup.$": "$.NamedQuery.WorkGroup",
                "QueryExecutionContext": {
                  "Database.$": "$.NamedQuery.Database"
                }
              },
              "Type": "Task",
              "End": true
            }
          }
        }
      ],[
        for query_id in hash_query_ids_1:
        {
          "StartAt": "Get Hash Key ${query_id}",
          "States": {
            "Get Hash Key ${query_id}": {
              "Type": "Task",
              "Parameters": {
                "Name": "/${environment}/hash-key",
                "WithDecryption": true
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Next": "Get Query ${query_id}"
            },
            "Get Query ${query_id}": {
              "Next": "Execute Query ${query_id}",
              "Parameters": {
                "NamedQueryId": "${query_id}"
              },
              "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
              "Type": "Task",
              "ResultPath": "$.IngestionQuery"
            },
            "Execute Query ${query_id}": {
              "End": true,
              "Parameters": {
                "ExecutionParameters.$": "States.Array($.Parameter.Value)",
                "QueryExecutionContext": {
                  "Database.$": "$.IngestionQuery.NamedQuery.Database"
                },
                "QueryString.$": "$.IngestionQuery.NamedQuery.QueryString",
                "WorkGroup.$": "$.IngestionQuery.NamedQuery.WorkGroup"
              },
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Type": "Task"
            }
          }
        }
      ]))},
      "Next": "Second Pass"
    },
    "Second Pass": {
      "Type": "Parallel",
      "Branches": ${jsonencode(concat([
        for query_id in query_ids_2:
        {
          "StartAt": "Get Query ${query_id}",
          "States": {
            "Get Query ${query_id}": {
              "Type": "Task",
              "Parameters": {
                "NamedQueryId": "${query_id}"
              },
              "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
              "Next": "Execute Query ${query_id}"
            },
            "Execute Query ${query_id}": {
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString.$": "$.NamedQuery.QueryString",
                "WorkGroup.$": "$.NamedQuery.WorkGroup",
                "QueryExecutionContext": {
                  "Database.$": "$.NamedQuery.Database"
                }
              },
              "Type": "Task",
              "End": true
            }
          }
        }
      ],[
        for query_id in hash_query_ids_2:
        {
          "StartAt": "Get Hash Key ${query_id}",
          "States": {
            "Get Hash Key ${query_id}": {
              "Type": "Task",
              "Parameters": {
                "Name": "/${environment}/hash-key",
                "WithDecryption": true
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Next": "Get Query ${query_id}"
            },
            "Get Query ${query_id}": {
              "Next": "Execute Query ${query_id}",
              "Parameters": {
                "NamedQueryId": "${query_id}"
              },
              "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
              "Type": "Task",
              "ResultPath": "$.IngestionQuery"
            },
            "Execute Query ${query_id}": {
              "End": true,
              "Parameters": {
                "ExecutionParameters.$": "States.Array($.Parameter.Value)",
                "QueryExecutionContext": {
                  "Database.$": "$.IngestionQuery.NamedQuery.Database"
                },
                "QueryString.$": "$.IngestionQuery.NamedQuery.QueryString",
                "WorkGroup.$": "$.IngestionQuery.NamedQuery.WorkGroup"
              },
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Type": "Task"
            }
          }
        }
      ]))},
      "End": true
    }
  }
}
