infrastructure/terraform/components/reporting/files/state.tmpl.json
{
  "Comment": "Workflow to run ingestion queries to populate reporting tables from the underlying transaction_history table in the core account.",
  "StartAt": "Parallel Queries",
  "States": {
    "Parallel Queries": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get Query",
          "States": {
            "Get Query": {
              "Type": "Task",
              "Parameters": {
                "NamedQueryId": "${NAMED_QUERY_ID}"
              },
              "Resource": "arn:aws:states:::aws-sdk:athena:getNamedQuery",
              "Next": "Execute Query"
            },
            "Execute Query": {
              "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
              "Parameters": {
                "QueryString.$": "$.NamedQuery.QueryString",
                "WorkGroup.$": "$.NamedQuery.WorkGroup",
                "QueryExecutionContext": {
                  "Database.$": "$.NamedQuery.Database"
                }
              },
              "Type": "Task",
              "Next": "Transaction Success",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.error",
                  "Next": "Transaction Failed"
                }
              ]
            },
            "Transaction Success": {
              "Type": "Pass",
              "Result": "Athena query succeeded.",
              "End": true
            },
            "Transaction Failed": {
              "Type": "Fail",
              "CausePath": "$.error.Cause",
              "ErrorPath": "$.error.Error"
            }
          }
        }
      ],
      "End": true
    }
  }
}
